$white: #fff;
$white-1: #d9d9d9;

$blue: #007bff;
$primary: #e60a0a;
$primary-dark: #c50909;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$red-2: #d82c2c;
$red-2-darker: #cd2626;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$coral-red: #fc4242;

$gray-background: #f6f6f6;
$black: #000;
$gray: #6c757d;
$gray-2: #9d9d9d;
$gray-subdued: #aab0b6;
$gray-medium-dark: #aab0b6;
$gray-alternate: #f6f6f6;
$gray-light: #f4f4f4;
$gray-light-1: #e4e3e3;
$gray-light-2: #cfd2d5;
$gray-light-3: #bbb;
$gray-light-4: #eeeeee;
$gray-medium-dark: #666666;
$gray-dark: #343a40;
$gray-darker: #212121;

$faded-red: #d84745;
$header-dark-gray: #333333;
$header-light-gray: #6c6c6c;
