$white: #ffffff;
$white-1: #d9d9d9;
$white-2: #cccccc;
$white-3: #a7a7a7;

$gray: #363636;

$black: #000;
$shadow-black: #00000033;

$blue: #007bff;
$purple: #6f42c1;
$pink: #e83e8c;
$primary-dark: #c50909;
$primary: #e60a0a;
$red: #dc3545;
$red-2: #d82c2c;
$red-2-darker: #cd2626;
$coral-red: #fc4242;
$faded-red: #d84745;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
